---
layout: default
---

<div class="hero-container">
	<div class="hero"></div>
</div>
<div class="homepage-services">
	<h1>
		<a href="/about">Branding</a>
		<a href="/about">Website</a>
		<a href="/about">Graphic Design</a>
		<a href="/about">Advertising</a>
		<a href="/about">Video</a>
	</h1>
</div>
<div class="clearfix">
	<div class="homepage-client">
		<a href="/clients">
			<img src="{{ '/assets/homepage-pioneer.jpg' | absolute_url }}" class="image-flip">
			<div class="homepage-client-overlay white"><p>Pioneer Craft House</p><h2>Creating a creative space</h2></div>
		</a>
		<img src="{{ '/assets/homepage-illustration-programmer.png' | absolute_url }}" class="illustration-programmer">
	</div>
	<div class="homepage-client right">
		<a href="/clients">
			<img src="{{ '/assets/homepage-ecotherapeutics.jpg' | absolute_url }}">
			<div class="homepage-client-overlay"><p>Ecotherapeutics</p><h2>Organic essential oils for days</h2></div>
		</a>
	</div>
	<div class="homepage-client">
		<a href="/clients">
			<img src="{{ '/assets/homepage-workweek.jpg' | absolute_url }}">
			<div class="homepage-client-overlay white"><p>Workweek</p><h2>Simple enough for your grandma</h2></div>
		</a>
	</div>
</div>
<div class="homagepage-about">
	<div>
		<h2>Want to work with us?</h2>
		<p>Let us take a minute here and explain why we think we’d be a great fit. We are good at design and advertising and video production and other things your business needs in order to effectively and powerfully reach and impact your target market. </p>
		<p>And here’s another little paragraph to complete this little section about why you should work with us. It’s because we’re good at stuff. </p>
	</div>
</div>